@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --body-large-400-font-family: "Inter", Helvetica;
  --body-large-400-font-size: 18px;
  --body-large-400-font-style: normal;
  --body-large-400-font-weight: 400;
  --body-large-400-letter-spacing: 0px;
  --body-large-400-line-height: 28px;
  --body-large-500-font-family: "Inter", Helvetica;
  --body-large-500-font-size: 18px;
  --body-large-500-font-style: normal;
  --body-large-500-font-weight: 500;
  --body-large-500-letter-spacing: 0px;
  --body-large-500-line-height: 28px;
  --body-medium-400-font-family: "Inter", Helvetica;
  --body-medium-400-font-size: 16px;
  --body-medium-400-font-style: normal;
  --body-medium-400-font-weight: 400;
  --body-medium-400-letter-spacing: 0px;
  --body-medium-400-line-height: 24px;
  --body-medium-500-font-family: "Inter", Helvetica;
  --body-medium-500-font-size: 16px;
  --body-medium-500-font-style: normal;
  --body-medium-500-font-weight: 500;
  --body-medium-500-letter-spacing: 0px;
  --body-medium-500-line-height: 24px;
  --body-small-400-font-family: "Inter", Helvetica;
  --body-small-400-font-size: 14px;
  --body-small-400-font-style: normal;
  --body-small-400-font-weight: 400;
  --body-small-400-letter-spacing: 0px;
  --body-small-400-line-height: 20px;
  --body-small-500-font-family: "Inter", Helvetica;
  --body-small-500-font-size: 14px;
  --body-small-500-font-style: normal;
  --body-small-500-font-weight: 500;
  --body-small-500-letter-spacing: 0px;
  --body-small-500-line-height: 20px;
  --body-XL-500-font-family: "Inter", Helvetica;
  --body-XL-500-font-size: 20px;
  --body-XL-500-font-style: normal;
  --body-XL-500-font-weight: 500;
  --body-XL-500-letter-spacing: 0px;
  --body-XL-500-line-height: 32px;
  --button-button-font-family: "Inter", Helvetica;
  --button-button-font-size: 16px;
  --button-button-font-style: normal;
  --button-button-font-weight: 600;
  --button-button-letter-spacing: 0px;
  --button-button-line-height: 24px;
  --danger-50: rgba(252, 238, 238, 1);
  --danger-500: rgba(224, 81, 81, 1);
  --display-01-font-family: "Inter", Helvetica;
  --display-01-font-size: 56px;
  --display-01-font-style: normal;
  --display-01-font-weight: 500;
  --display-01-letter-spacing: 0px;
  --display-01-line-height: 64px;
  --gray-00: rgba(255, 255, 255, 1);
  --gray-100: rgba(228, 229, 232, 1);
  --gray-200: rgba(200, 204, 209, 1);
  --gray-300: rgba(173, 178, 186, 1);
  --gray-400: rgba(145, 153, 163, 1);
  --gray-50: rgba(241, 242, 244, 1);
  --gray-500: rgba(118, 127, 140, 1);
  --gray-600: rgba(94, 102, 112, 1);
  --gray-700: rgba(71, 76, 84, 1);
  --gray-900: rgba(24, 25, 28, 1);
  --gray-scale500: rgba(118, 126, 148, 1);
  --gray-scale600: rgba(99, 106, 128, 1);
  --gray-scale700: rgba(70, 77, 97, 1);
  --gray-scale900: rgba(25, 31, 51, 1);
  --gray-scalewhite: rgba(255, 255, 255, 1);
  --graywhite: rgba(255, 255, 255, 1);
  --heading-01-font-family: "Inter", Helvetica;
  --heading-01-font-size: 40px;
  --heading-01-font-style: normal;
  --heading-01-font-weight: 500;
  --heading-01-letter-spacing: 0px;
  --heading-01-line-height: 48px;
  --heading-03-font-family: "Inter", Helvetica;
  --heading-03-font-size: 32px;
  --heading-03-font-style: normal;
  --heading-03-font-weight: 500;
  --heading-03-letter-spacing: 0px;
  --heading-03-line-height: 40px;
  --heading-04-font-family: "Inter", Helvetica;
  --heading-04-font-size: 24px;
  --heading-04-font-style: normal;
  --heading-04-font-weight: 500;
  --heading-04-letter-spacing: 0px;
  --heading-04-line-height: 32px;
  --hover-shadow-primary: 0px 12px 48px 0px rgba(0, 44, 109, 0.1);
  --primary-200: rgba(153, 194, 255, 1);
  --primary-50: rgba(231, 240, 250, 1);
  --primary-500: rgba(10, 101, 204, 1);
  --search-shadow: 0px 12px 40px 0px rgba(0, 44, 109, 0.04);
  --success-50: rgba(231, 246, 234, 1);
  --success-500: rgba(11, 160, 44, 1);
  --warning-100: rgba(255, 237, 204, 1);
  --warning-200: rgba(255, 219, 153, 1);
  --warning-300: rgba(255, 201, 102, 1);
  --warning-500: rgba(255, 170, 0, 1);
  --warning-600: rgba(203, 96, 21, 1);
  --warning-800: rgba(118, 57, 14, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
